# Gradle / Android build artifacts
.gradle/**/executionHistory/executionHistory.bin
.gradle/**/fileHashes/fileHashes.bin
.gradle/**/buildOutputCleanup/cache.properties
.gradle/**/buildOutputCleanup/outputFiles.bin
.gradle/**/executionHistory.lock
.gradle/**/fileHashes.lock
.gradle/**/buildOutputCleanup.lock
.gradle/**/checksums/
.gradle/**/dependencies-accessors/
.gradle/**/fileChanges/
.gradle/**/fileHashes/
#.gradle/*/gc.properties # 保留拷贝文件占位 .gradle/8.7/gc.properties
.gradle/vcs-1/gc.properties

app/.cxx/
app/.cxx/Debug/
app/.cxx/tools/
# Baseline Profile 构建产物 app/release/baselineProfiles/0/app-release.dm
app/release/

#build/
app/build/kotlin/
app/build/kotlinToolingMetadata/
app/build/intermediates/
app/build/generated/
app/build/tmp/
app/build/reports/
app/build/outputs/mapping/
app/build/outputs/logs/
app/build/outputs/**/baselineProfiles/
app/build/outputs/apk/release/output-metadata.json
app/build/outputs/native-debug-symbols/
app/build/outputs/sdk-dependencies/


# OS / editor junk
.DS_Store
Thumbs.db
*.log
